@tailwind base;
@tailwind components;
@tailwind utilities;

.game-slider .slick-prev,
.game-slider .slick-next {
  z-index: 10;
  width: 30px;
  height: 30px;
}

.game-slider .slick-prev {
  left: -35px;
}

.game-slider .slick-next {
  right: -35px;
}

.game-slider .slick-prev:before,
.game-slider .slick-next:before {
  font-size: 30px;
  color: #6366f1;
}

.game-slider .slick-dots li button:before {
  color: #6366f1;
}

.game-slider .slick-dots li.slick-active button:before {
  color: #818cf8;
}